annotated-types==0.7.0
anyio==4.11.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
dnspython==2.8.0
executing==2.2.1
fastapi==0.118.0
googleapis-common-protos==1.70.0
h11==0.16.0
idna==3.10
importlib_metadata==8.7.0
logfire==4.10.0
markdown-it-py==4.0.0
mdurl==0.1.2
mongomock==4.3.0
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
packaging==25.0
protobuf==6.32.1
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pymongo==4.15.2
pytz==2025.2
requests==2.32.5
rich==14.1.0
sentinels==1.1.1
sniffio==1.3.1
SQLAlchemy==2.0.43
starlette==0.48.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
uvicorn==0.37.0
wrapt==1.17.3
zipp==3.23.0
